@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    position: relative;

    .btn_primary {
        background-color: #f6a02e !important;
        color: white !important;

        &:hover {
            background-color: #d17e12 !important;
            color: white;
        }
    }

    i.icon.sidebar:before {
        font-size: 2.7vh;
        color: #f6a02e;
        text-shadow: 0 0 0.2rem #c1bdbd;
    }
}

main {
    padding-bottom: 5rem;
    h2 {
        font-family: 'Anton', sans-serif !important;
        font-size: 2.7vh !important;
        font-weight: 800 !important;
    }
}

._search {
    margin: auto;
}

.page_wrapper {
    padding: 12rem 2rem 2rem 2rem;
    @media (min-width: 760px) {
        padding: 12rem 2rem 12rem 2rem;
    }
}

.page_wrapper_bis {
    padding: 10rem 2rem 12rem 2rem;
}

.carousel {
    position: absolute;
    top: 20%;
    left: 7%;
    z-index: 1;
    width: 50%;

    @media (max-width: 1200px) {
        display: none;
    }
}

.slider-action {
    position: absolute;
    bottom: 15%;
    z-index: 1;
    left: 5%;
    width: 60%;


    @media (max-width: 450px){
        bottom: -20% !important;
        width: 70% !important;
    }
}

.box {
    margin-bottom: 5rem;
    position: relative;
    background-color: #e9dacc;

    img {
        opacity: 0.7;
    }
}

.centered {
    text-align: center !important;
}

.lefter {
    text-align: left;
}

.spacer {
    padding: 5rem 1rem 5rem 1rem;
}

.marginAuto {
    margin: auto !important;
}

.verticaly {
    display: none;
    @media (min-width: 764px) {
        display: block;
    }
}

.footer {
    position: absolute !important;
    width: 100%;
    padding-top: 4rem !important;
}

.brand {
    font-family: 'Anton', sans-serif !important;
    font-size: 3rem !important;
    padding-top: 0 !important;
    text-shadow: 0 0 0.2rem gray;

    &:before {
        content: '' !important;
        height: 0 !important;
        display: block !important;
    }
}

.slogan {
    width: 40%;
    margin: auto;
    padding: 0 0 2rem 0;
    color: rgb(173, 171, 171);
}

.logo {
    font-family: 'Anton', sans-serif !important;
    font-size: 2.5rem !important;
    letter-spacing: 0.1rem;
    color: #f6a02e !important;
    text-shadow: 0 0 0.2rem #b1adad;

    &:hover {
        background-color: transparent !important;
    }
}

.drop {
    color: #f6a02e !important;

    &:hover {
        background: transparent !important;
    }
}

header {
    .right {
        .item {
            color: #f6a02e !important;
            font-size: 1.7vh !important;

            &:hover {
                background: transparent !important;
                text-decoration: underline !important;
            }
        }

        .btn_login {
            background-color: #f6a02e;
            color: white;

            &:hover {
                background-color: #d17e12;
                color: white;
            }
        }
    }
}

.brand_small {
    color: olive !important;
}

.copyr {
    text-align: center;
    padding-top: 3rem;
    color: lightgrey;
}

.leftAlign {
    text-align: left;
}

.sideMenu {
    padding-top: 7rem;
    opacity: 0.8;
}

.form_style {
    width: 70%;
    margin: auto;
}

.spaceMargin {
    margin: 1rem;
}

.header_info {
    margin-left: 15%;
}

.text-area {
    border-color: #e8e8e8 !important;
    color: #7b7b7b;

    &:focus {
        outline: gray !important;
        border-color: teal !important;
    }
}

.task-box {
    margin: 1rem auto !important;
    width: 70%;
}

.task {
    background-color: white;
    padding: 1rem !important;
    box-shadow: 0.5rem 0.2rem 0.2rem 0rem #efefef;
    margin: 0.2rem;
    border-radius: 5px;
}

.animated-tab {
    animation-duration: 1s;
    animation-name: changeTab;
    transition: all 1s;
}

@keyframes changeTab {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
